.idea
*.pyc
*.sq3
static_collected/*
media/*
static/coffee/*.js
static/coffee/*.map
static/less/*.css
yoloify/local_settings.py
node_modules
*~
.DS_Store
dump.rdb
celerybeat-schedule.db
*.sublime-workspace
celerybeat.pid
yoloify/whoosh_index
*.iml