{% load i18n %}
<div id="passwordChangeModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="passwordChangeModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url "api-change-password" %}" autocomplete="off">
        <input type="hidden" name="_method" value="PATCH" />
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 id="passwordChangeModalTitle" class="modal-title">
            {% if has_password %}
              {% trans "Change your password" %}
            {% else %}
              {% trans "Set password for e-mail login" %}
            {% endif %}
          </h4>
        </div>
        <div class="modal-body">
        {% if has_password %}
          <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% else %}
          <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% endif %}

        {% csrf_token %}
        {% with hide_label=True ajax=True %}
          {% if has_password %}
            {% include "forms/_input.html" with field=form.old_password errors=form.errors.old_password type='password' %}
          {% endif %}
          {% include "forms/_input.html" with field=form.new_password1 errors=form.errors.new_password1 type='password' %}
          {% include "forms/_input.html" with field=form.new_password2 errors=form.errors.new_password2 type='password' %}
        {% endwith %}
          <button type="submit" class="btn btn-block btn-lg btn-primary">{% trans "Update password" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>