{% extends "singleform_base.html" %}
{% load i18n %}

{% block form %}
  {% if validlink %}
    <div class="page-header">
      <h2>{% trans "Password reset" %}</h2>
    </div>

    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post" autocomplete="off">
    {% csrf_token %}
    {% include "forms/_form_errors.html" with form=form %}
    {% with hide_label=True %}
      {% include "forms/_input.html" with field=form.new_password1 errors=form.errors.new_password1 type='password' %}
      {% include "forms/_input.html" with field=form.new_password2 errors=form.errors.new_password2 type='password' %}
    {% endwith %}
      <button type="submit" class="btn btn-block btn-primary">{% trans "Update password" %}</button>
    </form>
  {% else %}
      {% url "reset_password" as password_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please <a href="{{ password_reset_url }}">request</a> a new password reset.{% endblocktrans %}</p>
  {% endif %}
{% endblock %}